* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Red-500: hsl(10, 79%, 65%);
    --Blue-300: hsl(186, 34%, 65%);
    --Brown-950: hsl(25, 47%, 15%);
    --Brown-400: hsl(28, 10%, 53%);
    --Red-100: hsl(26, 66%, 93%);
    --font-weight-400: 400;
    --font-weight-700: 700;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--Red-100);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.expenses-chart__balance {
    background-color: var(--Red-500);
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    width: 100%;
}

.balance__info {
    color: var(--Red-100);
}

.balance__title {
    font-weight: var(--font-weight-400);
    font-size: 1.1rem;
}

.balance__amount {
    font-weight: var(--font-weight-700);
    margin-top: 0.2rem;
}


.expenses-chart__spendings {
    background-color: #FFFCF7;
    padding: 1.5rem 2rem;
    border-radius: 20px;
    width: 100%;
}

.spendings__title {
    color: var(--Brown-950);
    font-weight: var(--font-weight-700);
}

.spendings__bars {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    margin-top: 4rem;
    position: relative;
}

.spendings__bars::after {
    content: '';
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--Red-100);
}

.bar {
    position: relative;
}

.bar__bar {
    width: 53px;
    background-color: var(--Red-500);
    border-radius: 7px;
    margin-inline: auto;
    cursor: pointer;
    transition: opacity 0.3s ease;
    animation: rise 0.8s ease forwards;
}

@keyframes rise {
    0% {
        height: 0;
    }

    100% {}
}

.bar__bar:hover {
    opacity: 0.6;
}


.bar__amount {
    font-weight: var(--font-weight-700);
    background-color: var(--Brown-950);
    text-align: center;
    color: var(--Red-100);
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    top: -39px;
    z-index: 1;
}

.bar:hover .bar__amount {
    visibility: visible;
    opacity: 1;
}

.bar__day {
    text-align: center;
    font-weight: var(--font-weight-400);
    margin-top: 0.3rem;
    color: var(--Brown-400);
}

.bar--blue-color {
    background-color: var(--Blue-300);
}

.spendings__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.this-month__heading,
.last-month__heading {
    font-weight: var(--font-weight-400);
    color: var(--Brown-400);
    font-size: 1.2rem;
}

.this-month__amount {
    color: var(--Brown-950);
    font-size: 3rem;
}

.last-month__increase {
    text-align: right;
    font-weight: var(--font-weight-700);
    color: var(--Brown-950);
    font-size: 1.3rem;
}

@media (max-width: 764px) {
    .bar__bar {
        width: 35px;
    }

    .expenses-chart__balance,
    .expenses-chart__spendings {
        padding: 1rem;
    }

    .this-month__amount {
        font-size: 2rem;
    }

    .bar__amount {
        left: -11px;
    }
}